body {
    font-family: "arial";
}
.center {
    margin: 0 auto;
    text-align: center;
}

#score {
    font-weight: bold
}

canvas {
    border-radius: 5px;
}

div.canvas-container {
    margin: auto 2%;
}

.seed-display {
    font-size: smaller;
    opacity: 40%;
}
